html
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel='stylesheet', crossorigin="anonymous")
  link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel='stylesheet', crossorigin="anonymous")
  body
    .col-md-4
    .col-md-6.title-panel
      h1  PATTERNS!

  script(src='https://code.jquery.com/jquery-3.2.1.min.js'
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
        crossorigin='anonymous')

  // exposes the client variable
  script.
    for(var i = 0; i < 100; i++){

      var j = (i < 50)
                 ? i
                 : 10;
      var h = i > 50 ? (100 - i) : 10;

      var el = $(`<div class="rock${i}"></div>`);
      $('body').append(el);
      el.css('display', 'inline-block')
        .css('width', '10%')
        .css('height', '10%')
        .css('background', `rgb(${h*5},${j*5},${j*5}`);
    }